body
{
	max-width: 100%;
}

table
{
	margin: 10% auto;
}

h1
{
	text-align: left;
	font-weight: bold !important;
}

td
{
	padding: 5px;
}

button
{
	padding: 40px;
}

#butt
{
	position: absolute;
    top: 80%;
	left: 50%
}